<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, td, th {
      border: 1px solid;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
    </style>
<body>
    <h1 style="justify-content: center;">DATA BULK MASTER</h1>
    <table>
        <thead>
            <td>ID</td>
            <td>BULK ID</td>
            <td>SENDING BIC</td>
            <td>REQUEST DATE</td>
            <td>TOTAL RECORD</td>
            <td>TOTAL ACCEPTED</td>
            <td>TOTAL REJECT</td>
            <td>TOTAL FAIL</td>
            <td>STATUS</td>
            <td>ERROR MESSAGE</td>
            <td>TRANS CODE</td>
        </thead>
        <tbody>
            {{#data}}
            <tr>
                <td>{{ID}}</td>
                <td>{{BULK_ID}}</td>
                <td>{{SENDING_BIC}}</td>
                <td>{{REQUEST_DATE}}</td>
                <td>{{TOTAL_RECORD}}</td>
                <td>{{TOTAL_ACCEPTED}}</td>
                <td>{{TOTAL_REJECT}}</td>
                <td>{{TOTAL_FAIL}}</td>
                <td>{{STATUS}}</td>
                <td>{{ERROR_MESSAGE}}</td>
                <td>{{TRANS_CODE}}</td>
            </tr>
            {{/data}}
        </tbody>
    </table>
</body>
</html>