<!DOCTYPE html>
<html>
<head>
    <title>Contoh PDF Tabel</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Daftar Produk</h1>
    <table>
        <thead>
            <tr>
                <th>Nama Produk</th>
                <th>Harga</th>
                <th>Stok</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(product) { %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><%= product.stock %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>